# FinanceDataReader 란?
* 한국 주식 가격, 미국 주식 가격, 지수, 환욜, 암호화폐 가격, 종목 리스팅 등 금융 데이터 수집 라이브러리

# 설치

In [3]:
pip install -U finance-datareader

Requirement already satisfied: finance-datareader in /opt/anaconda3/lib/python3.9/site-packages (0.9.33)
Requirement already satisfied: requests-file in /opt/anaconda3/lib/python3.9/site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.9/site-packages (from finance-datareader) (4.64.0)
Requirement already satisfied: pandas>=0.19.2 in /opt/anaconda3/lib/python3.9/site-packages (from finance-datareader) (1.4.2)
Requirement already satisfied: lxml in /opt/anaconda3/lib/python3.9/site-packages (from finance-datareader) (4.8.0)
Requirement already satisfied: requests>=2.3.0 in /opt/anaconda3/lib/python3.9/site-packages (from finance-datareader) (2.27.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.19.2->finance-datareader) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.19.2->finance-datareader) (1.21.5)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.19.2->finance-datareader) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.3.0->finance-datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.3.0->finance-datareader) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.3.0->finance-datareader) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.3.0->finance-datareader) (2022.5.18.1)
Note: you may need to restart the kernel to use updated packages.

# 라이브러리 불러오기

In [1]:
import pandas as pd

In [2]:
import FinanceDataReader as fdr

In [3]:
fdr.__version__

'0.9.33'

# 한국거래소 상장종목 전체 가져오기

In [4]:
df_krx = fdr.StockListing("KRX")

In [5]:
df_krx.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [6]:
df_krx.shape #(행,열) 크기

(8273, 10)

In [7]:
# 전체 데이터프레임의 요약정보
df_krx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8273 entries, 0 to 8272
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          8273 non-null   object
 1   Market          8273 non-null   object
 2   Name            8273 non-null   object
 3   Sector          2499 non-null   object
 4   Industry        2482 non-null   object
 5   ListingDate     2499 non-null   datetime64[ns]
 6   SettleMonth     2499 non-null   object
 7   Representative  2499 non-null   object
 8   HomePage        2347 non-null   object
 9   Region          2499 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 711.0+ KB

In [8]:
df_krx.describe()

/var/folders/6y/x7mscwfj5v1glksbx09ymx2m0000gn/T/ipykernel_12318/2191770547.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_krx.describe()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
count,8273,8273,8273,2499,2482,2499,2499,2499,2347,2499
unique,8273,3,8273,161,2327,1858,8,2384,2326,22
top,060310,KOSPI,3S,소프트웨어 개발 및 공급업,기업인수합병,1976-06-30 00:00:00,12월,-,http://www.gccorp.com,서울특별시
freq,1,6575,1,151,29,8,2438,4,2,1022
first,NaN,NaN,NaN,NaN,NaN,1956-03-03 00:00:00,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2022-05-26 00:00:00,NaN,NaN,NaN,NaN

# 파일로 저장하고 불러오기

In [9]:
df_krx.to_csv("krx.csv", index=False)

In [10]:
pd.read_csv("krx.csv")

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
...,...,...,...,...,...,...,...,...,...,...
8268,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
8269,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호 (각자대표)",http://www.heerim.com,서울특별시
8270,419890,KOSPI,히어로즈 단기채권ESG액티브,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8271,429870,KOSPI,히어로즈 리츠이지스액티브,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8272,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시