# 라이브러리 로드

In [1]:
import pandas as pd

# 수집할 URL 정하기

In [ ]:
# item_code = "326039"
# item_name = "SK바이오팜"

In [15]:
# 종목 URL 만들기
url = "https://finance.naver.com/item/sise_day.naver?code=005930&page=3"

# Request 통한 HTTP 요청

In [22]:
import requests
headers= {'user-agent' : 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36'}
response = requests.get(url, headers=headers)
response.text

'\n<html lang="ko">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\n<title>네이버 금융</title>\n\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/newstock.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/common.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/layout.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/main.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/newstock2.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/newstock3.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/world.css">\n</head>\n<body>\n<script language="JavaScript">\nfunction mouseOver(obj){\n  obj.style.backgroundColor="#f6f4e5";\n}\nfunction mouseOut(obj){\n  obj.style.backgroundColor="#ffffff";\n}\n</script>\n\t\t\t\t<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>\t\t\t\n\t\t\t\t<table cellspacing="0" class="type2">\n\t\t\t\t<tr>\n\t\t\t\t<th>날짜</th>\n\t\t\t\t<th>종가</th>\n\t\t\t\t<th>전일비</th>\n\t\t\t\t<th>시가</th>\n\t\t\t\t<th>고가</th>\n\t\t\t\t<th>저가</th>\n\t\t\t\t<th>거래량</th>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\n\n\t\n\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.03</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t200\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">68,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">14,168,875</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.02</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,300</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t100\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">14,106,184</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.04.29</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,400</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t2,600\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">65,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">65,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">26,190,390</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.04.28</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">64,800</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t200\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">65,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">65,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">64,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">16,895,527</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.04.27</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">65,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t1,100\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">65,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">65,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">64,900</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">18,122,084</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="1" bgcolor="#e1e1e1"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.04.26</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,100</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t200\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">12,946,923</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.04.25</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,300</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t700\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">11,016,474</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.04.22</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t700\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,200</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">11,791,478</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.04.21</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,700</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t300\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">68,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">12,847,448</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.04.20</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,400</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t100\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">16,693,293</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\n\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 시작--->\n\t\t\t\t<table summary="페이지 네비게이션 리스트" class="Nnavi" align="center">\n\t\t\t\t<caption>페이지 네비게이션</caption>\n\t\t\t\t<tr>\t\t\n\t\t\t\n\t\t\t\t<td class="pgLL">\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=1"  >\n\t\t\t\t<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarLL.gif" width="7" height="5" alt="">맨앞\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n                \n                <td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=1"  >1</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=2"  >2</a>\n\t\t\t\t</td>\n<td class="on">\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=3"  >3</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=4"  >4</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=5"  >5</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=6"  >6</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=7"  >7</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=8"  >8</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=9"  >9</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=10"  >10</a>\n\t\t\t\t</td>\n\n                <td class="pgR">\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=11"  >\n\t\t\t\t다음<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n                <td class="pgRR">\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=652"  >맨뒤\n\t\t\t\t<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n            \n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 끝--->\n\n\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/js/jindo.min.ns.1.5.3.euckr.js"></script>\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/js/lcslog.js"></script>\n\t<script type="text/javascript">\n        ;(function(){\n            var eventType = "onpageshow" in window ? "pageshow" : "load";\n            jindo.$Fn(function(){\n                lcs_do();\n            }).attach(window, eventType);\n        })();\n\t</script>\n\n</body>'

# BeautifulSoup 을 통한 table 태그 찾기

In [38]:
from bs4 import BeautifulSoup as bs
html = bs(response.text, "lxml")
table = html.select("table")

In [32]:
len(table)

2

In [35]:
table[0]

<table cellspacing="0" class="type2">
<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.03</span></td>
<td class="num"><span class="tah p11">67,500</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				200
				</span>
</td>
<td class="num"><span class="tah p11">67,400</span></td>
<td class="num"><span class="tah p11">68,400</span></td>
<td class="num"><span class="tah p11">67,300</span></td>
<td class="num"><span class="tah p11">14,168,875</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.02</span></td>
<td class="num"><span class="tah p11">67,300</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				100
				</span>
</td>
<td class="num"><span class="tah p11">66,600</span></td>
<td class="num"><span class="tah p11">67,600</span></td>
<td class="num"><span class="tah p11">66,500</span></td>
<td class="num"><span class="tah p11">14,106,184</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.04.29</span></td>
<td class="num"><span class="tah p11">67,400</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				2,600
				</span>
</td>
<td class="num"><span class="tah p11">65,100</span></td>
<td class="num"><span class="tah p11">67,600</span></td>
<td class="num"><span class="tah p11">65,000</span></td>
<td class="num"><span class="tah p11">26,190,390</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.04.28</span></td>
<td class="num"><span class="tah p11">64,800</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				200
				</span>
</td>
<td class="num"><span class="tah p11">65,400</span></td>
<td class="num"><span class="tah p11">65,500</span></td>
<td class="num"><span class="tah p11">64,500</span></td>
<td class="num"><span class="tah p11">16,895,527</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.04.27</span></td>
<td class="num"><span class="tah p11">65,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,100
				</span>
</td>
<td class="num"><span class="tah p11">65,400</span></td>
<td class="num"><span class="tah p11">65,500</span></td>
<td class="num"><span class="tah p11">64,900</span></td>
<td class="num"><span class="tah p11">18,122,084</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.04.26</span></td>
<td class="num"><span class="tah p11">66,100</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				200
				</span>
</td>
<td class="num"><span class="tah p11">66,400</span></td>
<td class="num"><span class="tah p11">66,700</span></td>
<td class="num"><span class="tah p11">66,100</span></td>
<td class="num"><span class="tah p11">12,946,923</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.04.25</span></td>
<td class="num"><span class="tah p11">66,300</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				700
				</span>
</td>
<td class="num"><span class="tah p11">66,500</span></td>
<td class="num"><span class="tah p11">66,700</span></td>
<td class="num"><span class="tah p11">66,300</span></td>
<td class="num"><span class="tah p11">11,016,474</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.04.22</span></td>
<td class="num"><span class="tah p11">67,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				700
				</span>
</td>
<td class="num"><span class="tah p11">67,200</span></td>
<td class="num"><span class="tah p11">67,300</span></td>
<td class="num"><span class="tah p11">66,700</span></td>
<td class="num"><span class="tah p11">11,791,478</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.04.21</span></td>
<td class="num"><span class="tah p11">67,700</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				300
				</span>
</td>
<td class="num"><span class="tah p11">67,600</span></td>
<td class="num"><span class="tah p11">68,300</span></td>
<td class="num"><span class="tah p11">67,500</span></td>
<td class="num"><span class="tah p11">12,847,448</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.04.20</span></td>
<td class="num"><span class="tah p11">67,400</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				100
				</span>
</td>
<td class="num"><span class="tah p11">67,000</span></td>
<td class="num"><span class="tah p11">67,400</span></td>
<td class="num"><span class="tah p11">66,500</span></td>
<td class="num"><span class="tah p11">16,693,293</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>

# pandas 코드 한 줄로 데이터 수집하기

In [40]:
pd.read_html(str(table))[0]

            날짜       종가     전일비       시가       고가       저가         거래량
0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
1   2022.05.03  67500.0   200.0  67400.0  68400.0  67300.0  14168875.0
2   2022.05.02  67300.0   100.0  66600.0  67600.0  66500.0  14106184.0
3   2022.04.29  67400.0  2600.0  65100.0  67600.0  65000.0  26190390.0
4   2022.04.28  64800.0   200.0  65400.0  65500.0  64500.0  16895527.0
5   2022.04.27  65000.0  1100.0  65400.0  65500.0  64900.0  18122084.0
6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
9   2022.04.26  66100.0   200.0  66400.0  66700.0  66100.0  12946923.0
10  2022.04.25  66300.0   700.0  66500.0  66700.0  66300.0  11016474.0
11  2022.04.22  67000.0   700.0  67200.0  67300.0  66700.0  11791478.0
12  2022.04.21  67700.0   300.0  67600.0  68300.0  67500.0  12847448.0
13  2022.04.20  67400.0   100.0  67000.0  67400.0  66500.0  16693293.0
14         NaN      NaN     NaN      NaN      NaN      NaN         NaN

In [43]:
temp = pd.read_html(str(table))[0]
temp.dropna()

            날짜       종가     전일비       시가       고가       저가         거래량
1   2022.05.03  67500.0   200.0  67400.0  68400.0  67300.0  14168875.0
2   2022.05.02  67300.0   100.0  66600.0  67600.0  66500.0  14106184.0
3   2022.04.29  67400.0  2600.0  65100.0  67600.0  65000.0  26190390.0
4   2022.04.28  64800.0   200.0  65400.0  65500.0  64500.0  16895527.0
5   2022.04.27  65000.0  1100.0  65400.0  65500.0  64900.0  18122084.0
9   2022.04.26  66100.0   200.0  66400.0  66700.0  66100.0  12946923.0
10  2022.04.25  66300.0   700.0  66500.0  66700.0  66300.0  11016474.0
11  2022.04.22  67000.0   700.0  67200.0  67300.0  66700.0  11791478.0
12  2022.04.21  67700.0   300.0  67600.0  68300.0  67500.0  12847448.0
13  2022.04.20  67400.0   100.0  67000.0  67400.0  66500.0  16693293.0

# 페이지별 데이터 수집 함수 만들기

In [79]:
item_code = "365550"
item_name = "ESR켄달스퀘어리츠"
page_no=1

In [80]:
url = f"https://finance.naver.com/item/sise_day.naver?code={item_code}&page={page_no}"
url

'https://finance.naver.com/item/sise_day.naver?code=365550&page=1'

In [81]:
headers= {'user-agent' : 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36'}
response = requests.get(url, headers=headers)
response.text

'\n<html lang="ko">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\n<title>네이버 금융</title>\n\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/newstock.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/common.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/layout.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/main.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/newstock2.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/newstock3.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/world.css">\n</head>\n<body>\n<script language="JavaScript">\nfunction mouseOver(obj){\n  obj.style.backgroundColor="#f6f4e5";\n}\nfunction mouseOut(obj){\n  obj.style.backgroundColor="#ffffff";\n}\n</script>\n\t\t\t\t<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>\t\t\t\n\t\t\t\t<table cellspacing="0" class="type2">\n\t\t\t\t<tr>\n\t\t\t\t<th>날짜</th>\n\t\t\t\t<th>종가</th>\n\t\t\t\t<th>전일비</th>\n\t\t\t\t<th>시가</th>\n\t\t\t\t<th>고가</th>\n\t\t\t\t<th>저가</th>\n\t\t\t\t<th>거래량</th>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\n\n\t\n\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.06.02</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">6,860</span></td>\n\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t90\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t<td class="num"><span class="tah p11">6,820</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">6,910</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">6,770</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">186,013</span></td>\n\t\t\t\t</tr>\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.31</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,770</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t120\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,850</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,950</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,770</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">899,057</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.30</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,890</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t140\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">7,010</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">7,010</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,870</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">255,673</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.27</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">7,030</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t220\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,930</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">7,030</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,860</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">872,432</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.26</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,810</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t40\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,770</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,900</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,760</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">477,661</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="1" bgcolor="#e1e1e1"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.25</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,770</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t60\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,880</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">294,647</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.24</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,710</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t60\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,660</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,790</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,650</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">453,995</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.23</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,650</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t140\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,740</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,650</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">284,245</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.20</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,790</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t40\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,830</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,850</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,730</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">204,690</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.19</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,830</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t30\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,750</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,850</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">6,660</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">425,026</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\n\t\n\t\n\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 시작--->\n\t\t\t\t<table summary="페이지 네비게이션 리스트" class="Nnavi" align="center">\n\t\t\t\t<caption>페이지 네비게이션</caption>\n\t\t\t\t<tr>\t\t\n\t\t\t\n\t\t\t\t\n                \n                <td class="on">\n\t\t\t\t<a href="/item/sise_day.naver?code=365550&amp;page=1"  >1</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=365550&amp;page=2"  >2</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=365550&amp;page=3"  >3</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=365550&amp;page=4"  >4</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=365550&amp;page=5"  >5</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=365550&amp;page=6"  >6</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=365550&amp;page=7"  >7</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=365550&amp;page=8"  >8</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=365550&amp;page=9"  >9</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=365550&amp;page=10"  >10</a>\n\t\t\t\t</td>\n\n                <td class="pgR">\n\t\t\t\t<a href="/item/sise_day.naver?code=365550&amp;page=11"  >\n\t\t\t\t다음<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n                <td class="pgRR">\n\t\t\t\t<a href="/item/sise_day.naver?code=365550&amp;page=36"  >맨뒤\n\t\t\t\t<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n            \n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 끝--->\n\n\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/js/jindo.min.ns.1.5.3.euckr.js"></script>\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/js/lcslog.js"></script>\n\t<script type="text/javascript">\n        ;(function(){\n            var eventType = "onpageshow" in window ? "pageshow" : "load";\n            jindo.$Fn(function(){\n                lcs_do();\n            }).attach(window, eventType);\n        })();\n\t</script>\n\n</body>'

In [82]:
from bs4 import BeautifulSoup as bs
html = bs(response.text, "lxml")
table = html.select("table")

In [83]:
pd.read_html(str(table))[0]

            날짜      종가    전일비      시가      고가      저가       거래량
0          NaN     NaN    NaN     NaN     NaN     NaN       NaN
1   2022.06.02  6860.0   90.0  6820.0  6910.0  6770.0  186013.0
2   2022.05.31  6770.0  120.0  6850.0  6950.0  6770.0  899057.0
3   2022.05.30  6890.0  140.0  7010.0  7010.0  6870.0  255673.0
4   2022.05.27  7030.0  220.0  6930.0  7030.0  6860.0  872432.0
5   2022.05.26  6810.0   40.0  6770.0  6900.0  6760.0  477661.0
6          NaN     NaN    NaN     NaN     NaN     NaN       NaN
7          NaN     NaN    NaN     NaN     NaN     NaN       NaN
8          NaN     NaN    NaN     NaN     NaN     NaN       NaN
9   2022.05.25  6770.0   60.0  6700.0  6880.0  6700.0  294647.0
10  2022.05.24  6710.0   60.0  6660.0  6790.0  6650.0  453995.0
11  2022.05.23  6650.0  140.0  6700.0  6740.0  6650.0  284245.0
12  2022.05.20  6790.0   40.0  6830.0  6850.0  6730.0  204690.0
13  2022.05.19  6830.0   30.0  6750.0  6850.0  6660.0  425026.0
14         NaN     NaN    NaN     NaN     NaN     NaN       NaN

In [84]:
temp = pd.read_html(str(table))[0]
temp.dropna()

            날짜      종가    전일비      시가      고가      저가       거래량
1   2022.06.02  6860.0   90.0  6820.0  6910.0  6770.0  186013.0
2   2022.05.31  6770.0  120.0  6850.0  6950.0  6770.0  899057.0
3   2022.05.30  6890.0  140.0  7010.0  7010.0  6870.0  255673.0
4   2022.05.27  7030.0  220.0  6930.0  7030.0  6860.0  872432.0
5   2022.05.26  6810.0   40.0  6770.0  6900.0  6760.0  477661.0
9   2022.05.25  6770.0   60.0  6700.0  6880.0  6700.0  294647.0
10  2022.05.24  6710.0   60.0  6660.0  6790.0  6650.0  453995.0
11  2022.05.23  6650.0  140.0  6700.0  6740.0  6650.0  284245.0
12  2022.05.20  6790.0   40.0  6830.0  6850.0  6730.0  204690.0
13  2022.05.19  6830.0   30.0  6750.0  6850.0  6660.0  425026.0

In [85]:
def get_day_list(item_code, page_no):
    url = f"https://finance.naver.com/item/sise_day.naver?code={item_code}&page={page_no}"
    headers= {'user-agent' : 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36'}
    response = requests.get(url, headers=headers)
    html = bs(response.text, "lxml")
    table = html.select("table")
    temp = pd.read_html(str(table))[0]
    temp = temp.dropna()
    return temp

In [90]:
get_day_list(item_code, )

           날짜      종가    전일비      시가      고가      저가         거래량
1  2020.12.30  5070.0   10.0  5080.0  5090.0  5040.0    410452.0
2  2020.12.29  5080.0   40.0  5100.0  5110.0  5040.0    764891.0
3  2020.12.28  5120.0   90.0  5250.0  5250.0  5070.0   1376178.0
4  2020.12.24  5210.0   20.0  5260.0  5280.0  5070.0   2303133.0
5  2020.12.23  5190.0  220.0  4970.0  5320.0  4800.0  10670210.0

# 반복문을 통한 전체 일자 데이터 수집하기

In [98]:
import time
page_no = 1
item_list = []

while True:
    print(page_no)
    temp = get_day_list(item_code, page_no)
    item_list.append(temp)
    
    page_no += 1
    time.sleep(0.1)
    
    if page_no > 10 :
        break;

1
2
3
4
5
6
7
8
9
10

In [99]:
item_list

[            날짜      종가    전일비      시가      고가      저가       거래량
 1   2022.06.02  6860.0   90.0  6820.0  6910.0  6770.0  186013.0
 2   2022.05.31  6770.0  120.0  6850.0  6950.0  6770.0  899057.0
 3   2022.05.30  6890.0  140.0  7010.0  7010.0  6870.0  255673.0
 4   2022.05.27  7030.0  220.0  6930.0  7030.0  6860.0  872432.0
 5   2022.05.26  6810.0   40.0  6770.0  6900.0  6760.0  477661.0
 9   2022.05.25  6770.0   60.0  6700.0  6880.0  6700.0  294647.0
 10  2022.05.24  6710.0   60.0  6660.0  6790.0  6650.0  453995.0
 11  2022.05.23  6650.0  140.0  6700.0  6740.0  6650.0  284245.0
 12  2022.05.20  6790.0   40.0  6830.0  6850.0  6730.0  204690.0
 13  2022.05.19  6830.0   30.0  6750.0  6850.0  6660.0  425026.0,
             날짜      종가    전일비      시가      고가      저가       거래량
 1   2022.05.18  6800.0   50.0  6840.0  6870.0  6760.0  192442.0
 2   2022.05.17  6850.0   70.0  6920.0  6980.0  6790.0  382186.0
 3   2022.05.16  6920.0   60.0  6800.0  7030.0  6800.0  411345.0
 4   2022.05.13  6860.0  190.0  6620.0  7060.0  6620.0  846320.0
 5   2022.05.12  6670.0   30.0  6600.0  6790.0  6600.0  211846.0
 9   2022.05.11  6700.0   80.0  6660.0  6770.0  6560.0  200712.0
 10  2022.05.10  6620.0  200.0  6720.0  6730.0  6600.0  300201.0
 11  2022.05.09  6820.0  120.0  6890.0  6890.0  6750.0  200850.0
 12  2022.05.06  6940.0   40.0  6880.0  6980.0  6830.0  127530.0
 13  2022.05.04  6980.0    0.0  6930.0  6980.0  6710.0  228308.0,
             날짜      종가    전일비      시가      고가      저가       거래량
 1   2022.05.03  6980.0  220.0  7210.0  7210.0  6880.0  412968.0
 2   2022.05.02  7200.0  130.0  7170.0  7230.0  7110.0  301967.0
 3   2022.04.29  7330.0  200.0  7120.0  7330.0  7060.0  419966.0
 4   2022.04.28  7130.0   70.0  7200.0  7240.0  6970.0  499112.0
 5   2022.04.27  7200.0   90.0  7260.0  7290.0  7160.0  439258.0
 9   2022.04.26  7290.0   40.0  7270.0  7290.0  7230.0  598167.0
 10  2022.04.25  7250.0   20.0  7200.0  7250.0  7140.0  528685.0
 11  2022.04.22  7230.0   30.0  7200.0  7300.0  7160.0  252900.0
 12  2022.04.21  7200.0   90.0  7220.0  7320.0  7200.0  334764.0
 13  2022.04.20  7290.0  110.0  7180.0  7290.0  7160.0  609120.0,
             날짜      종가    전일비      시가      고가      저가       거래량
 1   2022.04.19  7180.0   70.0  7110.0  7180.0  7100.0  198404.0
 2   2022.04.18  7110.0  230.0  7290.0  7290.0  7110.0  424537.0
 3   2022.04.15  7340.0  210.0  7070.0  7350.0  6990.0  591536.0
 4   2022.04.14  7130.0  120.0  7020.0  7150.0  7000.0  295545.0
 5   2022.04.13  7010.0   50.0  6980.0  7020.0  6900.0  304241.0
 9   2022.04.12  6960.0    0.0  6960.0  7000.0  6880.0  416337.0
 10  2022.04.11  6960.0   20.0  6940.0  6960.0  6850.0  478032.0
 11  2022.04.08  6940.0  120.0  6910.0  6950.0  6870.0  432654.0
 12  2022.04.07  6820.0  150.0  6700.0  6890.0  6700.0  234420.0
 13  2022.04.06  6670.0  180.0  6900.0  6900.0  6670.0  570786.0,
             날짜      종가    전일비      시가      고가      저가       거래량
 1   2022.04.05  6850.0  110.0  6960.0  6980.0  6850.0  244256.0
 2   2022.04.04  6960.0  100.0  6890.0  6960.0  6830.0  627952.0
 3   2022.04.01  6860.0  120.0  6970.0  6980.0  6840.0  330336.0
 4   2022.03.31  6980.0   10.0  6970.0  7000.0  6940.0  370521.0
 5   2022.03.30  6970.0   50.0  7000.0  7000.0  6900.0  337156.0
 9   2022.03.29  7020.0  210.0  6840.0  7020.0  6780.0  666581.0
 10  2022.03.28  6810.0   10.0  6820.0  6820.0  6730.0  233459.0
 11  2022.03.25  6820.0   20.0  6730.0  6840.0  6730.0  193228.0
 12  2022.03.24  6800.0   50.0  6780.0  6800.0  6720.0  282910.0
 13  2022.03.23  6750.0   50.0  6800.0  6860.0  6740.0  613411.0,
             날짜      종가    전일비      시가      고가      저가        거래량
 1   2022.03.22  6800.0  170.0  6690.0  6800.0  6650.0   416595.0
 2   2022.03.21  6630.0  170.0  6800.0  6820.0  6630.0   276648.0
 3   2022.03.18  6800.0   80.0  6710.0  6930.0  6670.0  6387296.0
 4   2022.03.17  6720.0   20.0  6740.0  6750.0  6650.0   856821.0
 5   2022.03.16  6740.0   60.0  6670.0  6760.0  6640.0   847744.0
 9   2022.03.15  6680.0   50.0  6740.0  6750.0  6640.0   855354.0
 10  2022.03.14  6730.0    0.0  6730.0  6790.0  6680.0   595507.0
 11  2022.03.11  6730.0   60.0  6670.0  6740.0  6620.0   849680.0
 12  2022.03.10  6670.0   70.0  6600.0  6670.0  6550.0   760364.0
 13  2022.03.08  6600.0    0.0  6550.0  6640.0  6400.0   782971.0,
             날짜      종가    전일비      시가      고가      저가        거래량
 1   2022.03.07  6600.0   50.0  6540.0  6680.0  6500.0  1059595.0
 2   2022.03.04  6550.0  130.0  6430.0  6580.0  6380.0   838176.0
 3   2022.03.03  6420.0  100.0  6350.0  6440.0  6320.0   601804.0
 4   2022.03.02  6320.0   10.0  6150.0  6350.0  6150.0   247091.0
 5   2022.02.28  6310.0  110.0  6240.0  6330.0  6150.0   363031.0
 9   2022.02.25  6200.0  100.0  6100.0  6250.0  6080.0   219807.0
 10  2022.02.24  6100.0   20.0  6050.0  6100.0  6030.0   189863.0
 11  2022.02.23  6080.0   30.0  6100.0  6100.0  6030.0   114075.0
 12  2022.02.22  6050.0   20.0  6070.0  6090.0  6050.0    99710.0
 13  2022.02.21  6070.0   40.0  6110.0  6110.0  6040.0   133117.0,
             날짜      종가    전일비      시가      고가      저가       거래량
 1   2022.02.18  6110.0   20.0  6100.0  6110.0  6050.0   82817.0
 2   2022.02.17  6090.0   40.0  6090.0  6110.0  6050.0  162147.0
 3   2022.02.16  6050.0   20.0  6090.0  6090.0  6030.0  123169.0
 4   2022.02.15  6030.0   40.0  6070.0  6100.0  6030.0  175849.0
 5   2022.02.14  6070.0   10.0  6040.0  6100.0  6000.0  140336.0
 9   2022.02.11  6060.0   10.0  6050.0  6100.0  6040.0  140956.0
 10  2022.02.10  6050.0   20.0  6090.0  6130.0  6040.0  267938.0
 11  2022.02.09  6030.0   20.0  6130.0  6160.0  6030.0  271551.0
 12  2022.02.08  6050.0  120.0  6180.0  6200.0  6050.0  285199.0
 13  2022.02.07  6170.0   30.0  6220.0  6220.0  6130.0  231339.0,
             날짜      종가    전일비      시가      고가      저가       거래량
 1   2022.02.04  6140.0   10.0  6050.0  6240.0  6050.0  256330.0
 2   2022.02.03  6150.0  330.0  5900.0  6180.0  5890.0  608559.0
 3   2022.01.28  5820.0   10.0  5860.0  5870.0  5700.0  415240.0
 4   2022.01.27  5810.0  130.0  5940.0  5990.0  5590.0  391429.0
 5   2022.01.26  5940.0   60.0  6050.0  6050.0  5940.0  284360.0
 9   2022.01.25  6000.0   50.0  6050.0  6100.0  6000.0  252578.0
 10  2022.01.24  6050.0  110.0  6180.0  6180.0  6020.0  334618.0
 11  2022.01.21  6160.0   10.0  6140.0  6190.0  6060.0  300916.0
 12  2022.01.20  6150.0   50.0  6140.0  6190.0  6070.0  168070.0
 13  2022.01.19  6100.0  100.0  6200.0  6200.0  6080.0  225660.0,
             날짜      종가    전일비      시가      고가      저가       거래량
 1   2022.01.18  6200.0   10.0  6180.0  6210.0  6170.0  121036.0
 2   2022.01.17  6210.0    0.0  6210.0  6240.0  6180.0  118455.0
 3   2022.01.14  6210.0   70.0  6180.0  6240.0  6150.0  242177.0
 4   2022.01.13  6140.0  100.0  6240.0  6260.0  6140.0  216400.0
 5   2022.01.12  6240.0   20.0  6220.0  6260.0  6170.0  132606.0
 9   2022.01.11  6220.0   10.0  6210.0  6220.0  6170.0  174730.0
 10  2022.01.10  6210.0  110.0  6310.0  6320.0  6190.0  347680.0
 11  2022.01.07  6320.0  110.0  6210.0  6330.0  6210.0  314289.0
 12  2022.01.06  6210.0   80.0  6290.0  6300.0  6200.0  343674.0
 13  2022.01.05  6290.0   20.0  6330.0  6330.0  6270.0  252474.0]

# 수집한 데이터 하나의 데이터프레임으로 합치기

In [101]:
df = pd.concat(item_list)

In [102]:
df.head()

           날짜      종가    전일비      시가      고가      저가       거래량
1  2022.06.02  6860.0   90.0  6820.0  6910.0  6770.0  186013.0
2  2022.05.31  6770.0  120.0  6850.0  6950.0  6770.0  899057.0
3  2022.05.30  6890.0  140.0  7010.0  7010.0  6870.0  255673.0
4  2022.05.27  7030.0  220.0  6930.0  7030.0  6860.0  872432.0
5  2022.05.26  6810.0   40.0  6770.0  6900.0  6760.0  477661.0

In [103]:
df.tail()

            날짜      종가    전일비      시가      고가      저가       거래량
9   2022.01.11  6220.0   10.0  6210.0  6220.0  6170.0  174730.0
10  2022.01.10  6210.0  110.0  6310.0  6320.0  6190.0  347680.0
11  2022.01.07  6320.0  110.0  6210.0  6330.0  6210.0  314289.0
12  2022.01.06  6210.0   80.0  6290.0  6300.0  6200.0  343674.0
13  2022.01.05  6290.0   20.0  6330.0  6330.0  6270.0  252474.0

# 데이터프레엠에 종목코드와 종목명 추가하기
* 파생변수 만들기

In [104]:
df

            날짜      종가    전일비      시가      고가      저가       거래량
1   2022.06.02  6860.0   90.0  6820.0  6910.0  6770.0  186013.0
2   2022.05.31  6770.0  120.0  6850.0  6950.0  6770.0  899057.0
3   2022.05.30  6890.0  140.0  7010.0  7010.0  6870.0  255673.0
4   2022.05.27  7030.0  220.0  6930.0  7030.0  6860.0  872432.0
5   2022.05.26  6810.0   40.0  6770.0  6900.0  6760.0  477661.0
..         ...     ...    ...     ...     ...     ...       ...
9   2022.01.11  6220.0   10.0  6210.0  6220.0  6170.0  174730.0
10  2022.01.10  6210.0  110.0  6310.0  6320.0  6190.0  347680.0
11  2022.01.07  6320.0  110.0  6210.0  6330.0  6210.0  314289.0
12  2022.01.06  6210.0   80.0  6290.0  6300.0  6200.0  343674.0
13  2022.01.05  6290.0   20.0  6330.0  6330.0  6270.0  252474.0

[100 rows x 7 columns]

In [107]:
df["종목코드"] = item_code
df["종목명"] = item_name
df

,날짜,종가,전일비,시가,고가,저가,거래량,종목코드,종목명
1,2022.06.02,6860.0,90.0,6820.0,6910.0,6770.0,186013.0,365550,ESR켄달스퀘어리츠
2,2022.05.31,6770.0,120.0,6850.0,6950.0,6770.0,899057.0,365550,ESR켄달스퀘어리츠
3,2022.05.30,6890.0,140.0,7010.0,7010.0,6870.0,255673.0,365550,ESR켄달스퀘어리츠
4,2022.05.27,7030.0,220.0,6930.0,7030.0,6860.0,872432.0,365550,ESR켄달스퀘어리츠
5,2022.05.26,6810.0,40.0,6770.0,6900.0,6760.0,477661.0,365550,ESR켄달스퀘어리츠
...,...,...,...,...,...,...,...,...,...
9,2022.01.11,6220.0,10.0,6210.0,6220.0,6170.0,174730.0,365550,ESR켄달스퀘어리츠
10,2022.01.10,6210.0,110.0,6310.0,6320.0,6190.0,347680.0,365550,ESR켄달스퀘어리츠
11,2022.01.07,6320.0,110.0,6210.0,6330.0,6210.0,314289.0,365550,ESR켄달스퀘어리츠
12,2022.01.06,6210.0,80.0,6290.0,6300.0,6200.0,343674.0,365550,ESR켄달스퀘어리츠
13,2022.01.05,6290.0,20.0,6330.0,6330.0,6270.0,252474.0,365550,ESR켄달스퀘어리츠

# 컬럼순서 변경하기

In [108]:
df.columns

Index(['날짜', '종가', '전일비', '시가', '고가', '저가', '거래량', '종목코드', '종목명'], dtype='object')

In [109]:
cols = ['종목코드', '종목명', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']

In [110]:
df = df[cols]

In [111]:
df

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,365550,ESR켄달스퀘어리츠,2022.06.02,6860.0,90.0,6820.0,6910.0,6770.0,186013.0
2,365550,ESR켄달스퀘어리츠,2022.05.31,6770.0,120.0,6850.0,6950.0,6770.0,899057.0
3,365550,ESR켄달스퀘어리츠,2022.05.30,6890.0,140.0,7010.0,7010.0,6870.0,255673.0
4,365550,ESR켄달스퀘어리츠,2022.05.27,7030.0,220.0,6930.0,7030.0,6860.0,872432.0
5,365550,ESR켄달스퀘어리츠,2022.05.26,6810.0,40.0,6770.0,6900.0,6760.0,477661.0
...,...,...,...,...,...,...,...,...,...
9,365550,ESR켄달스퀘어리츠,2022.01.11,6220.0,10.0,6210.0,6220.0,6170.0,174730.0
10,365550,ESR켄달스퀘어리츠,2022.01.10,6210.0,110.0,6310.0,6320.0,6190.0,347680.0
11,365550,ESR켄달스퀘어리츠,2022.01.07,6320.0,110.0,6210.0,6330.0,6210.0,314289.0
12,365550,ESR켄달스퀘어리츠,2022.01.06,6210.0,80.0,6290.0,6300.0,6200.0,343674.0
13,365550,ESR켄달스퀘어리츠,2022.01.05,6290.0,20.0,6330.0,6330.0,6270.0,252474.0

# 중복데이터 제거하기

In [112]:
df.drop_duplicates()

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,365550,ESR켄달스퀘어리츠,2022.06.02,6860.0,90.0,6820.0,6910.0,6770.0,186013.0
2,365550,ESR켄달스퀘어리츠,2022.05.31,6770.0,120.0,6850.0,6950.0,6770.0,899057.0
3,365550,ESR켄달스퀘어리츠,2022.05.30,6890.0,140.0,7010.0,7010.0,6870.0,255673.0
4,365550,ESR켄달스퀘어리츠,2022.05.27,7030.0,220.0,6930.0,7030.0,6860.0,872432.0
5,365550,ESR켄달스퀘어리츠,2022.05.26,6810.0,40.0,6770.0,6900.0,6760.0,477661.0
...,...,...,...,...,...,...,...,...,...
9,365550,ESR켄달스퀘어리츠,2022.01.11,6220.0,10.0,6210.0,6220.0,6170.0,174730.0
10,365550,ESR켄달스퀘어리츠,2022.01.10,6210.0,110.0,6310.0,6320.0,6190.0,347680.0
11,365550,ESR켄달스퀘어리츠,2022.01.07,6320.0,110.0,6210.0,6330.0,6210.0,314289.0
12,365550,ESR켄달스퀘어리츠,2022.01.06,6210.0,80.0,6290.0,6300.0,6200.0,343674.0
13,365550,ESR켄달스퀘어리츠,2022.01.05,6290.0,20.0,6330.0,6330.0,6270.0,252474.0

# 기술통계값 구하기

In [113]:
df.describe()

,종가,전일비,시가,고가,저가,거래량
count,100.000000,100.000000,100.000000,100.000000,100.000000,1.000000e+02
mean,6603.900000,76.700000,6595.400000,6665.900000,6522.000000,4.357622e+05
std,415.550979,65.119238,402.553516,415.133166,398.428732,6.405808e+05
min,5810.000000,0.000000,5860.000000,5870.000000,5590.000000,8.281700e+04
25%,6192.500000,20.000000,6180.000000,6235.000000,6137.500000,2.189552e+05
50%,6715.000000,60.000000,6700.000000,6790.000000,6645.000000,3.014415e+05
75%,6925.000000,110.000000,6912.500000,6980.000000,6830.000000,4.777538e+05
max,7340.000000,330.000000,7290.000000,7350.000000,7230.000000,6.387296e+06

# 최근날짜 구해서 파일명 만들기

In [115]:
date = df.iloc[0]["날짜"]

In [124]:
file_name = f"{item_name}_{item_code}_{date}.csv"
file_name

'ESR켄달스퀘어리츠_365550_2022.06.02.csv'

# 파일로 저장하기

In [126]:
df.to_csv(file_name, index=False)

In [127]:
pd.read_csv(file_name)

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
0,365550,ESR켄달스퀘어리츠,2022.06.02,6860.0,90.0,6820.0,6910.0,6770.0,186013.0
1,365550,ESR켄달스퀘어리츠,2022.05.31,6770.0,120.0,6850.0,6950.0,6770.0,899057.0
2,365550,ESR켄달스퀘어리츠,2022.05.30,6890.0,140.0,7010.0,7010.0,6870.0,255673.0
3,365550,ESR켄달스퀘어리츠,2022.05.27,7030.0,220.0,6930.0,7030.0,6860.0,872432.0
4,365550,ESR켄달스퀘어리츠,2022.05.26,6810.0,40.0,6770.0,6900.0,6760.0,477661.0
...,...,...,...,...,...,...,...,...,...
95,365550,ESR켄달스퀘어리츠,2022.01.11,6220.0,10.0,6210.0,6220.0,6170.0,174730.0
96,365550,ESR켄달스퀘어리츠,2022.01.10,6210.0,110.0,6310.0,6320.0,6190.0,347680.0
97,365550,ESR켄달스퀘어리츠,2022.01.07,6320.0,110.0,6210.0,6330.0,6210.0,314289.0
98,365550,ESR켄달스퀘어리츠,2022.01.06,6210.0,80.0,6290.0,6300.0,6200.0,343674.0
99,365550,ESR켄달스퀘어리츠,2022.01.05,6290.0,20.0,6330.0,6330.0,6270.0,252474.0

# 전체 과정을 하나의 함수로 만들기

In [131]:
# 일별 시세를 수집하는 함수
def get_item_list(item_code, item_name):
    page_no = 1
    item_list = []

    while True:
        temp = get_day_list(item_code, page_no)
        item_list.append(temp)

        page_no += 1
        time.sleep(0.1)

        if page_no > 10 :
            break
            
    df = pd.concat(item_list)
    df["종목코드"] = item_code
    df["종목명"] = item_name
    cols = ['종목코드', '종목명', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']
    df = df[cols]
    
    return df

In [132]:
item_code = "352820"
item_name = "하이브"

In [133]:
get_item_list(item_code, item_name)

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,352820,하이브,2022.06.02,227000.0,4000.0,232000.0,232500.0,224500.0,136558.0
2,352820,하이브,2022.05.31,231000.0,3000.0,228000.0,233000.0,225500.0,242955.0
3,352820,하이브,2022.05.30,228000.0,9500.0,222500.0,228000.0,220500.0,214345.0
4,352820,하이브,2022.05.27,218500.0,4000.0,219500.0,226500.0,215500.0,253460.0
5,352820,하이브,2022.05.26,214500.0,5000.0,220000.0,221500.0,213500.0,133881.0
...,...,...,...,...,...,...,...,...,...
9,352820,하이브,2022.01.11,289000.0,6500.0,294000.0,300500.0,288000.0,209051.0
10,352820,하이브,2022.01.10,295500.0,7000.0,302000.0,302000.0,289000.0,275890.0
11,352820,하이브,2022.01.07,302500.0,4000.0,302500.0,307500.0,300500.0,223108.0
12,352820,하이브,2022.01.06,298500.0,15500.0,308000.0,308500.0,296500.0,459978.0
13,352820,하이브,2022.01.05,314000.0,23500.0,332500.0,336000.0,310500.0,500313.0